@model Course_Framework.Models.DB.BS_Course
@{
    ViewBag.title = "_CourseEditArea";
    Layout = null;
}

<style>
    label.error {
        color: #ff0000;
    }
</style>
<form method="post" id="courseform">
    @{
        if (Model != null && Model.CourseNo > 0)
        {
            <div class="form-group">
                @Html.LabelFor(m => m.CourseID, "課號", new { @class = "control-label" })
                @Html.TextBoxFor(m => m.CourseID, new { @class = "form-control", @placeholder = "課號", @readonly = true })
            </div>
        }
        else
        {
            <div class="form-group">
                @Html.HiddenFor(m => m.CourseID, new { @class = "form-control", @placeholder = "課號" })
            </div>
        }
    }

    <div class="form-group">
        @Html.LabelFor(m => m.Name, "課名", new { @class = "control-label" })
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control", @placeholder = "課名", @maxLength = 20 })
        <span class="text-danger" style="display: none" id="err_name">*請輸入課名</span>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Credits, "學分", new { @class = "control-label" })
        @Html.TextBoxFor(m => m.Credits, new { @class = "form-control", @placeholder = "學分", @type = "Number"})
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Address, "上課地點", new { @class = "control-label" })
        @Html.TextBoxFor(m => m.Address, new { @class = "form-control", @placeholder = "上課地點", @maxLength = 20 })
        <span class="text-danger" style="display: none" id="err_address">*請輸入上課地點</span>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.TeacherName, "講師名字", new { @class = "control-label" })
        @Html.TextBoxFor(m => m.TeacherName, new { @class = "form-control", @placeholder = "講師名字", @maxLength = 20 })
        <span class="text-danger" style="display: none" id="err_teachername">*請輸入講師名字</span>
    </div>

    @if (Model.CourseNo > 0)
    {
<button type="button" class="btn btn-primary" onclick="Submit();">儲存</button>
    }
    else
    {
<button type="button" class="btn btn-primary" onclick="Submit();">新增</button>
        <button type="reset" class="btn btn-primary" id="resetcourseform">清空</button>
    }
    
</form>

<script>
    $(document).ready(function () {
        $('#Credits').keypress(function (event) {

            if (event.which != 8 && isNaN(String.fromCharCode(event.which))) {
                event.preventDefault();
            }

        });
        $("#courseform").validate({
            rules: {
                TeacherName: {
                    required: true,
                    maxlength: 20
                },
                Name: {
                    required: true,
                    maxlength: 20
                },
                Address: {
                    required: true,
                    maxlength: 20
                },
                Credits: {
                    number: true,
                    min: 0,
                    max: 100
                }
            }
        });
    })
    
    function Submit() {
        var check = true;
        if (!$("#courseform").valid()) {
            check = false;
        }

        if (check) {
            var formdata = $("#courseform").serialize();
        $.ajax({
            method: "post",
            data: formdata + "&No=" + @Model.CourseNo ,
            dataType: "json",
            async: false,
            cache: false,
            url: '@Model.CourseNo' == '0' ? '@Url.Action("AddCourse","Course", new { area = "Course" })' : '@Url.Action("UpdateCourse","Course", new { area = "Course" })',
            success: function (result) {
                if (result.success) {
                    $("#resetcourseform").click();
                      GetCourseEditArea(0);
                      GetCourseList();
                  }
            }
        });
        }

    }

</script>