<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Goodarc - 面試題目</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</head>
<body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark mb-3">
        <a class="navbar-brand" href="@Url.Action("Index","Home",new { area=""})">首頁</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Index","Student", new { area = "Student" })">學生</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Index","Course", new { area = "Course" })">課程</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("SelectionCourseindex","Student", new { area = "Student" })">選課</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - 面試題目</p>
        </footer>
    </div>

    <!-- The Modal -->
    <div class="modal" id="PopUp">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title" id="PopUpTitle"></h4>
                    <button type="button" class="close" data-dismiss="modal" onclick="ClosePopUp();">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body" id="PopUpContent">
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal" id="PopUpBtn"></button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-backdrop fade show" id="PopUpFade" style="display: none;"></div>
    @RenderSection("scripts", required: false)
    <script>
        function OpenPopUp(title, content, btntext, clickfunction) {
            $("#PopUp").css("display", "block");
            $("#PopUpFade").css("display", "block");
            $("#PopUpTitle").text(title);
            $("#PopUpContent").text(content);
            $("#PopUpBtn").text(btntext);
            $("#PopUpBtn").attr("onClick", clickfunction + "ClosePopUp();");
        }
        function ClosePopUp() {
            $("#PopUp").css("display", "none");
            $("#PopUpFade").css("display", "none");
            $("#PopUpTitle").text("");
            $("#PopUpContent").text("");
            $("#PopUpBtn").text("");
            $("#PopUpBtn").attr("onClick", "");
        }
    </script>
</body>
</html>
